.DS_Store

# libs
openGlTest/openGlTest/include/KHR/
openGlTest/openGlTest/include/glad/
openGlTest/openGlTest/include/GLFW/
openGlTest/openGlTest/include/glm/
openGlTest/openGlTest/include/glad.c


# Xcode
/openGlTest/openGlTest.xcodeproj
/openGlTest/openGlTest/libglfw.3.3.dylib
*.xcuserstate
build/
