.DS_Store

# libs
/openGlTest/openGlTest/include/
/openGlTest/openGlTest/glad.c

/openGlTest/openGlTest/GLFW/

/openGlTest/openGlTest/glad/

/openGlTest/openGlTest/KHR

# Xcode
/openGlTest/openGlTest.xcodeproj
/openGlTest/openGlTest/libglfw.3.3.dylib

*.xcuserstate
build/
